/* layout */

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    padding: 5px;
}

input {
    width: 50%;
    padding: 4px;
}

form.users {
    width: 20%;
    justify-content: flex-start;
}

form.users > input, button {
    width: 100%;
}


button {
    padding: 4px;
}

section.forms {
    display: flex;
    justify-content: flex-start;
}

.del {
    width: 50px;
}

